.topper{
width:100vw;
        height:70vh;
    position:relative;
    background-image: url("shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo{
    height:10vh;
    color: crimson;
    font-size:5vh;
    padding:2vh;
    font-stretch: extra-expanded;

}
